.action-sheets-basic-page {
    .ion-md-share {
      color: #ED4248;
    }
    .ion-md-arrow-dropright-circle {
      color: #508AE4;
    }
    .ion-md-heart-outline {
      color: #31D55F;
    }
    .action-sheet-cancel ion-icon,
    .action-sheet-destructive ion-icon {
      color: #757575;
    }
  }

  .copy {
    padding: 0 12px;
    font-size: 13px!important;
    font-weight: 500;
    color: #424242;
    text-align: center;
}

.toolbar-title-md {
  padding: 0;
  margin-right: 63px;
  font-size: 27px !important;
  font-weight: 500;
  color: #424242;
  text-align: center;
}